<% #encoding: utf-8 %>

<%= f.error_messages %>
<div class="field">
  <%= f.label :name,"公海名称" %><br />
  <%= f.text_field :name %>
</div>

<%= hidden_field_tag "public_store[user_ids][]" %>
<div class="field">
  <h3>拥有公海权限的用户</h3><br />
  <% p_users = @public_store.users %>
  <% User.all.group_by{|u|u.department}.each do |d,users| %>
      <div><h4><%= d.name %></h4></div>
      <% users.each do |u| %>
          <%= u.name %><%= check_box_tag "public_store[user_ids][]",u.id,p_users.include?(u) %>
      <% end %>
      <br /><br />
  <% end %>
</div>

<div class="actions">
  <%= f.submit "提交" %>
</div>
