
<table>
  <tr>
    <td colspan="10">
      <h4>销售查询统计</h4>
    </td>
  </tr>
  <tr>
    <td>员工姓名</td>
    <td>联系记录总数</td>
    <td>电话联系数</td>
    <td>拜访客户数</td>
    <td>客户来访数</td>
    <td>其他方式</td>
    <td>客户总数</td>
    <td>新签订单总数</td>
  </tr>

  <% @statistics.each do |s| %>
      <tr>
        <td><%= s.user.name %></td>
        <td><%= s.contact_total_count %></td>
        <td><%= s.tel_contact_count %></td>
        <td><%= s.visit_count %></td>
        <td><%= s.come_count %></td>
        <td><%= s.other_way_count %></td>
        <td><%= s.mini_clients_total_count %></td>
        <td><%= s.create_orders_count %></td>
      </tr>
  <% end %>
</table>
