<%= form_for(@user,:url=>{:controller => "users",:action => "family_information",:id=>@user},:html => { :method=>:put } ) do |f| %>

    <%= f.error_messages %>

<div>
  <%= f.label :family_address,"家庭住址" %><br />
  <%= f.text_field :family_address %>
</div>
<div>
  <%= f.label :father,"父亲姓名" %><br />
  <%= f.text_field :father %>
</div>
<div>
  <%= f.label :father_birth,"父亲生日" %><br />
  <%= f.text_field :father_birth,:class=>'time' %>
</div>
<div>
  <%= f.label :father_mobile,"父亲手机" %><br />
  <%= f.text_field :father_mobile %>
</div>
<div>
  <%= f.label :mother,"母亲姓名" %><br />
  <%= f.text_field :mother %>
</div>
<div>
  <%= f.label :mother_birth,"母亲生日" %><br />
  <%= f.text_field :mother_birth ,:class=>'time' %>
</div>
<div>
  <%= f.label :mother_mobile,"母亲手机" %><br />
  <%= f.text_field :mother_mobile %>
</div>

    <div><%= f.submit "更新" %></div>
<% end %>

<%= link_to_custom "返回", :back %>

<script type="text/javascript">
    jQuery(document).ready(function(){
        // 输入框日期弹出框
        $("#user_enter_date,#user_birth,#user_father_birth,#user_mother_birth").calendar();
    });
</script>