<% # encoding: utf-8 %>
<script language="javascript" type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>

<%= form_for @search, :url => {:action=>"my_develop_steps"}, :html => {:method => :get} do |f| %>
    <%#= f.label :develop_step_resource_order_item_product_id_eq,"订单产品" %>
    <%#= f.select :develop_step_resource_order_item_product_id_eq,Product.all.map{|p|[p.name,p.id]} %>
    <%= f.submit "搜索" %>
<% end %>

<table>
  <tr>
    <th>开发步骤</th>
    <th>开发状态</th>
    <th>开发人员</th>
    <th>要求完成日期</th>
    <th>实际完成日期</th>
    <th>标准时间</th>
    <th>订单编号</th>
    <th>客户名称</th>
    <th>订单产品</th>
    <th>订单描述</th>
    <th>合同金额</th>
    <th colspan="2">操作</th>
  </tr>
  <% @develop_steps.each do |step| %>
      <% order = step.develop_step_resource %>
      <tr id='<%= "tr_#{step.id}" %>'>
        <%= render :partial => "my_develop_step_tds",:locals => {:order=>order,:step=>step} %>
      </tr>
  <% end %>
</table>
<%= paginate @develop_steps %>

<div id="custom_popup"></div>

<script type="text/javascript">
    $(document).ready(function(){
        //提交审核
        $(".complete")
                .live("ajax:beforeSend",function(){
                    $(this).html(loading_gif);
                })
                .live("ajax:success", function(evt, data, status, xhr){
                    $(this).parent("td").parent("tr").html(data);
                    alert("成功提交，等待主管审核！!");
                })
        //延期申请
        $(".apply_delay_complete")
                .live("ajax:beforeSend",function(){
                    createPopup();
                })
                .live("ajax:success",function(evt,data,status,xhr){
                    $("#popup_content").html(data);
                    return false;
                })

        //延期申请提交
        $("#new_apply_delay_complete")
                .live("ajax:beforeSend",function(){
                    $("#pupup_content").html("加载中...");
                    $("#custom_popup").hide();
                    createPrintDIV();
                })
                .live("ajax:success",function(evt,data,status,xhr){
                    var develop_step_id = $(this).attr("develop_step_id");
                    $("#tr_"+develop_step_id).html(data);
                    alert("提交成功！");
                    $("#sk").remove();
                    return false;
                })

        //延期申请审核
        $(".delay_check")
                .live("ajax:beforeSend",function(){
                    createPopup();
                })
                .live("ajax:success",function(evt,data,status,xhr){
                    $("#popup_content").html(data);
                    return false;
                })


        //驳回延期申请
        $("#disagree_delay")
                .live("ajax:beforeSend",function(){
                    $("#pupup_content").html("加载中...");
                    $("#custom_popup").hide();
                    createPrintDIV();
                })
                .live("ajax:success",function(evt,data,status,xhr){
                    var develop_step_id = $(this).attr("develop_step_id");
                    $("#tr_"+develop_step_id).html(data);
                    $("#sk").remove();
                    return false;
                })


        //同意延期申请
        $("#agree_delay")
                .live("ajax:beforeSend",function(){
                    $(this).html(loading_gif);
                })
                .live("ajax:success",function(evt,data,status,xhr){
                    $("#update_develop_steps").html(data);
                    $(this).hide();
                    $(this).prev("a").hide();
                    return false;
                })


        //同意延期申请并提交form表单
//        $("#agree_delay_form")
//                .live("ajax:beforeSend",function(){
//                    $("#pupup_content").html("加载中...");
//                    $("#custom_popup").hide();
//                    createPrintDIV();
//                })
//                .live("ajax:success",function(evt,data,status,xhr){
//                    var develop_step_id = $(this).attr("develop_step_id");
//                    $("#tr_"+develop_step_id).html(data);
//                    $("#sk").remove();
//                    return false;
//                })

    })
</script>
