<% # encoding: utf-8 %>
<h1>订单列表</h1>

<%= form_tag({:action=>"index"}) do %>
    <%= label :search_number_like,"订单编号：" %><%= text_field_tag :search_number_like,@number_like %>
    <%= submit_tag "搜索" %>
<% end %>
<div id="order_index">
  <%= render :partial => "/orders/index" %>
</div>
