<% # encoding: utf-8 %>
<table class="popup_form_table">
  <tr>
    <td>
      <%= f.label "name","资产名称" %>
    </td>
    <td>
      <%= f.text_field "name" %>
    </td>
    <!--<script language="javascript" type="text/javascript" src="<%#= Rails.root+'/My97DatePicker/WdatePicker.js' %>"></script>-->
    <script language="javascript" type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>
    <td>
      <%= f.label "purchase_date","采购日期" %>
    </td>
    <td>
      <%= f.text_field "purchase_date",:onClick=>"WdatePicker()" %>
    </td>
    <!--<td>-->
      <!--<%#= f.label "number","资产编号" %>-->
    <!--</td>-->
    <!--<td>-->
      <!--<%#= f.text_field "number" %>-->
    <!--</td>-->
  </tr>
  <tr>
    <td>
      <%= f.label "supplier_id","供应商" %>
    </td>
    <td>
      <%= f.select "supplier_id",Supplier.all.map{|s|[s.name,s.id]} %>
    </td>
    <td>
      <%= f.label "asset_cate_id","资产类型" %>
    </td>
    <td>
      <%= f.select "asset_cate_id",Category.find_all_by_cate_and_level("asset_cate",0).map{|c|[c.name,c.id]} %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label "purchase_user_id","采购人" %>
    </td>
    <td>
      <%= f.select "purchase_user_id",User.all.map{|s|[s.name,s.id]} %>
    </td>
    <td>
      <%= f.label "purchase_way_id","采购方式" %>
    </td>
    <td>
      <%= f.select "purchase_way_id",Category.find_all_by_cate("purchase_way").map{|c|[c.name,c.id]} %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label "brand","品牌" %>
    </td>
    <td>
      <%= f.text_field "brand" %>
    </td>
    <td>
      <%= f.label "standard","规格" %>
    </td>
    <td>
      <%= f.text_field "standard" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label "purchase_price","采购价格" %>
    </td>
    <td>
      <%= f.text_field "purchase_price" %>
    </td>

  </tr>
  <tr>
    <td>
      <%= f.label "description","备注" %>
    </td>
    <td colspan="3">
      <%= f.text_area "description",:class=>"text_area_1" %>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <%= f.submit "提交" %>
    </td>
  </tr>
</table>

