<div class="xzm">
导入文件时，请下载模板，按照模板进行操作。<%= link_to_custom "下载模板",:controller=>"mini_clients",:action=>"client_export_template",:format=>:csv %>
</div>
<%= form_tag("/mini_clients/client_import",:multipart => true,:method=>"post") do %>
    <div id="wenzims">
      选择导入文件：<br/>
      选择客户性质：<br/>
      选择客户分类：<br/>
      选择客户来源：<br/>
      选择导入公海：
    </div>
    <div id="wbxk">
      <%= file_field_tag "import_file" %>   <br/>
      <%= select_tag "nature_id",options_from_collection_for_select(Category.find_all_by_cate("nature"),"id","name") %> <br/>
      <%= select_tag "grade_id",options_from_collection_for_select(Category.where(:need_verify=>false).find_all_by_cate("client_grade"),"id","name") %>   <br/>
      <%= select_tag "origin_id",options_from_collection_for_select(Category.find_all_by_cate("client_origin"),"id","name") %>   <br/>
      <%= select_tag "public_store_id",options_from_collection_for_select(PublicStore.all,"id","name") %>
    </div>
    <div id="anniuys">
      <%= submit_tag "提交" %>
    </div>

<% end %>
