<% # encoding: utf-8 %>
<h1>权限列表</h1>

<%= form_tag roles_path do %>
    <table class="jueseyslib" >
      <tr>
        <th></th>
        <th>权限名称</th>
        <th>权限描述</th>
      </tr>
      <% @permissions.each do |cate,perms| %>
        <tr>
          <td></td>
          <td colspan="2"><%= Permission::CATE[cate] %></td>
        </tr>

        <% perms.each do |p| %>
          <tr>
            <td><%= check_box_tag "permission_ids[]", p.id %></td>
            <td><%= p.name %></td>
            <td><%= simple_format p.description %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= submit_tag "用选中权限创建角色" %>
<% end %>
<br />
