<h1>产品列表</h1>

<table>
  <tr>
    <th>产品名称</th>
    <th>产品编号</th>
    <th>产品描述</th>
    <th>产品大类</th>
    <th>产品类别</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.number %></td>
    <td><%= product.description %></td>
    <td><%= product.cate_text %></td>
    <td><%= product.category_name %></td>
    <td><%= link_to_custom '查看',:controller=>"products",:action=>"show",:id=>product %></td>
    <td><%= link_to_custom '编辑',:controller=>"products",:action=>"edit",:id=>product %></td>
    <td><%= link_to_custom '删除', {:controller=>"products",:action=>"destroy",:id=>product}, confirm: '确认删除？', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_custom '新建产品', :controller=>"products",:action=>"new" %>
